<style>
.dropbtn {
  border: none;
  cursor: pointer;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  overflow: auto;
  z-index: 1;
}
.dropdown-content a {

    padding-left: 50px;
  text-decoration: none;
  display: block;
}
.show {display: block;}

</style>
<script>

</script>


<div class="container-fluid" id="mobileHeader">
    <span id="menuIcon" onclick="openNav()">&#9776; </span><span id="siteTitle"><a href="../pages/home.html">Financial Calculators</a></span>
    <span id="lapPages">
        
        <a class="lapMenuPage" href="../pages/home.html">Home</a>
        <a class="lapMenuPage" href="../pages/contact.html">Contact</a>
        
    </span>
    
</div>


<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <a href="../pages/simpleInterest.html">Simple Interest</a>
  <a href="../pages/compoundinterest.html">Compound Interest</a>
  <a href="../pages/fixeddeposit.html">Fixed Deposit</a>
  <a href="../pages/recurringdeposit.html">Recurring Deposit</a>
  <a href="../pages/Lumpsum.html">LumpSum</a>
  <a href="../pages/sip.html">SIP</a>
  <a href="../pages/goal.html">Goal</a>
  <a href="../pages/retirement.html">Retirement</a>
  <a href="../pages/homeloan.html">Home Loan Calculator</a>
  <a href="../pages/personalloan.html">Personal Loan Calculator</a>



<div class="dropdown">
    <a href="#"><div onclick="myFunction()" class="dropbtn">Others &#9660;</div></a>
  <div id="myDropdown" class="dropdown-content">
    <a href="../pages/contact.html">Contact</a>
  </div>
</div>

</div>







