<style>
   .dropbtn {
   border: none;
   cursor: pointer;
   }
   .dropdown {
   position: relative;
   display: inline-block;
   }
   .dropdown-content {
   display: none;
   position: absolute;
   overflow: auto;
   z-index: 1;
   }
   .dropdown-content a {
   padding-left: 50px;
   text-decoration: none;
   display: block;
   }
   .show {display: block;}
</style>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">




<div class="container-fluid" id="mobileHeader">
   <span id="menuIcon" onclick="openNav()" style="color:white"><i class="fa fa-bars" aria-hidden="true"></i> </span><span id="siteTitle"><a href="../pages/home.html">FinCal.in</a></span>
   <span id="lapPages">
   <a class="lapMenuPage" href="../pages/home.html">Home</a>
   <a class="lapMenuPage" href="../pages/contact.html">Contact</a>
   </span>
</div>

<div id="mySidenav" class="sidenav">
   <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
   <a href="../pages/home.html"><i class="fa fa-home" style="font-size:24px;"></i>&nbsp;&nbsp;&nbsp;Home</a>
   <a href="../pages/contact.html"><i class="fa fa-envelope" style="font-size:20px;"></i>&nbsp;&nbsp;&nbsp;Contact</a>
   
   <a href="../pages/share.html" onclick="shareMe()"><i class="fa fa-share-alt" style="font-size:20px;"></i>&nbsp;&nbsp;&nbsp;Share</a>
   
   <a href="https://bit.ly/FincalAndroidApp"><i class="fa fa-star" style="font-size:20px;"></i>&nbsp;&nbsp;&nbsp;Rate Us</a>
</div>
