<div id="rightSideBar">
    <div id="rightSideBarHeading">Calculators</div>
    <a class="item" href="../pages/simpleInterest.html">Simple Interest</a>
    <a class="item" href="../pages/compoundinterest.html">Compound Interest</a>
    <a class="item" href="../pages/fixeddeposit.html">Fixed Deposit</a>
    <a class="item" href="../pages/recurringdeposit.html">Recurring Deposit</a>
    <a class="item" href="../pages/Lumpsum.html">LumpSum</a>
    <a class="item" href="../pages/sip.html">SIP</a>
    <a class="item" href="../pages/goal.html">Goal</a>
    <a class="item" href="../pages/retirement.html">Retirement</a>
    <a class="item" href="../pages/homeloan.html">Home Loan Calculator</a>
    <a class="item" href="../pages/personalloan.html">Personal Loan Calculator</a>

</div>